*{
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
}

.container1
{
	height: 100%;
	width: 100%;
	background: url(bg_hut.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;  
}

.container1 span
{
	height: 100%;
	color: #fff;
	font-size: 3vw;
	font-family: arial;
	text-align: center;
	text-transform: uppercase; 
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
